$imageBannerDesktop: '../images/image-intro-desktop.jpg'
$imageBannerMobile: '../images/image-intro-mobile.jpg'
$svgBannerLeftMobile: '../images/bg-pattern-intro-left-mobile.svg'
$svgBannerRightMobile: '../images/bg-pattern-intro-right-mobile.svg'
$svgBannerLeftDesktop: '../images/bg-pattern-intro-left-desktop.svg'
$svgBannerRightDesktop: '../images/bg-pattern-intro-right-desktop.svg'

header.banner
  width: 100vw
  height: 240vw

  background-color: $primaryDarkViolet
  background-image: url(#{$svgBannerRightMobile}), url(#{$svgBannerLeftMobile})
  background-repeat: no-repeat
  background-position: right 135%, 0 120vw

  display: flex
  flex-direction: column-reverse
  justify-content: space-between
  align-items: flex-start

div.bannerContainer
  width: 100vw
  height: 119vw

  padding: 80px 30px 0

  color: white

  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center

  .bannerTitle
    margin-bottom: 16px
    font-family: $fontSecondary
    font-size: 48px
    text-align: center
    color: darken($neutralVeryLightGray, 2)

  .bannerDescription
    margin-bottom: 24px
    font-size: 18px
    font-weight: $fontWeightRegular
    text-align: center
    line-height: 32px
    color: darken($neutralVeryLightGray, 16)

figure.bannerImage
  width: 100vw
  height: 120vw
  background-image: url(#{$imageBannerMobile})
  background-repeat: no-repeat
  background-size: contain

  object-fit: fill

@media only screen and (min-width: 1050px)
  header.banner
    height: 450px
    padding: 60px 120px
    
    background-color: $primaryDarkViolet
    background-image: url(#{$svgBannerRightDesktop}), url(#{$svgBannerLeftDesktop})
    background-repeat: no-repeat
    background-position: right top, left -500%
    
    flex-direction: row

  figure.bannerImage
    width: 432px
    height: 520px
    background-image: url(#{$imageBannerDesktop})
    position: relative

  div.bannerContainer
    width: 40%
    height: 100%
    padding: 0

    color: white

    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start

    .bannerTitle, .bannerDescription
      text-align: left