%generalLink
  font-family: $fontPrimary
  font-size: 14px
  font-weight: $fontWeightBold

  text-decoration: none

  transition: color .3s, background .3s, easy-out


a.link
  padding: 8px 16px

  @extend %generalLink

  color: lighten($neutralDarkGrayishViolet, 16)

  &:hover
    color: lighten($neutralVeryDarkViolet, 8)


nav.navbar a.link-primary
  margin-left: 24px
  padding: 8px 32px

  @extend %generalLink

  color: lighten($neutralVeryDarkViolet, 8)

  border: 2px solid lighten($neutralVeryDarkViolet, 8)

  &:hover
    background-color: lighten($neutralVeryDarkViolet, 8)
    color: $neutralVeryLightGray