%generalLink
  margin: 8px 0
  font-family: $fontPrimary
  font-size: 14px
  font-weight: $fontWeightBold
  text-decoration: none
  transition: color .3s, background .3s, easy-out
  cursor: pointer

a.link
  padding: 8px 16px
  color: lighten($neutralDarkGrayishViolet, 16)
  @extend %generalLink
  &:hover
    color: lighten($neutralVeryDarkViolet, 8)